#mapContainer {
    margin: 0;
    padding: 0;
    width: 70%;
    height: 100%;
    float: left;
}

#panel {
    margin: 0;
    padding: 0;
    width: 30%;
    height: 100%;
    float: right;
    background-color: white;
}

#main{
  width: 100%;
  height:100%;
}

#timeHandler {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;

}

#timeSlider{
  float: right;
  width: 80%;
  height: 20%;
}

#timePlayer {
  float: left;
  width: 20%;
  height: 100%;
}
