
html{
  width:100%;
  height:100%;
}

body{
  margin: 0;
  width: 100%;
  height: 100%;
  
}

#main{
  margin: 0;
  width: 100%;
  height: 100%;
}

/*#mapAndPanel{
  margin: 0;
  padding: 1%;
  width:99%;
  height: 99%;
}*/

#timeHandler {
    margin: 0px;
    padding: 1%;
    width: 99%;
    height: 15%;
    position: absolute;
    z-index:2;
    top: 94%;
}

#mapContainer {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:1;

}

#panel {
    margin: 0;
    padding: 1%;
    width: 28%;
    height: 90%;
    left: 68%;
    top: 1%;
    background-color: white;
    position: absolute;
    z-index:2;
}

#bubble {
    margin: 0;
    padding: 1%;
    width: 100%;
    position: relative;
    bottom: 0;
}

#timeSliderContainer{
  float: right;
  width: 95%;
  height: 99%;
  padding-top: 1%;
  /*padding-left: 2%;
  padding-right: 2%;*/
  position: relative;
}

#timeSlider{
  width: 95%;
  height: 15px;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);

}

#PlayPauseContainer {
  float: left;
  width: 5%;
  height: 100%;
  position: relative;

}

/*Play Pause button */
.control {
  border: 3px solid #fff;
  border-radius: 50%;
  margin: 0; /*20px*/
  padding: 7.5px;
  width: 30px;
  height: 30px;
  font-size: 0;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;

  margin: 0;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
}
.control,
.control .left,
.control .right,
.control:before {
  display: inline-block;
  vertical-align: middle;
  transition: border 0.4s, width 0.4s, height 0.4s, margin 0.4s;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);
}
.control:before {
  content: "";
  height: 30px;
}
.control .left,
.control .right {
  margin: 0;
  border-left: 9.9px solid #fff;
  border-top: 0 solid transparent;
  border-bottom: 0 solid transparent;
  height: 25.98px;
}
.control .left {
  border-right: 6px solid transparent;
}
.control.play .left {
  margin-left: 5px;
  border-left: 12.99px solid #fff;
  border-top: 7.5px solid transparent;
  border-bottom: 7.5px solid transparent;
  border-right: 0px solid transparent;
  height: 15px;
}
.control.play .right {
  margin: 0;
  border-left: 12.99px solid #fff;
  border-top: 7.5px solid transparent;
  border-bottom: 7.5px solid transparent;
  height: 0px;
}
.control:hover {
  border-color: #e6e6e6;
}
.control:hover .left,
.control:hover .right {
  border-left-color: #e6e6e6;
}

/*End Play Pause button */

body {
  background-color: #18506F;
}

.selected {
  background-color: red;
}
